#========================
# OS
#========================

# Windows
#------------
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


#========================
# Shared
#========================
.vs
.vscode


#========================
# C#
#========================

# user
#------------
*.suo
*.user
*.sln.docstates

# Proj
#------------
packages/
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*


#========================
# Python
#========================
__pycache__/