#========================
# Shared
#========================
.vs
.vscode


#========================
# C#
#========================
[Bb]in/
[Oo]bj/


#========================
# Python
#========================
__pycache__/