<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        </handlers>
        <aspNetCore processPath=".\bin\python.exe" arguments=".\Server.py" stdoutLogEnabled="true" stdoutLogFile=".\logs\aspNetCore.log">
            <environmentVariables>
            </environmentVariables>
            <handlerSettings>
                <clear />
            </handlerSettings>
        </aspNetCore>
    </system.webServer>
</configuration>